.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.modal-content {
    position: relative;
    z-index: 1;
    width: 90vw;
    height: 85vh;
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    pointer-events: none;
}

.modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.5rem;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    pointer-events: auto;
}

.modal-close:hover {
    color: #ccc;
}

.modal-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    color: white;
    pointer-events: auto;
}

.modal-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
    margin-top: 2rem;
    pointer-events: auto;
}
.topic-generate-new {
    background: linear-gradient(120deg, #646cff, #e52e71) !important;
    margin-top: 1.5rem;
    pointer-events: auto;
}
.modal-no-topics {
    color: white;
    font-size: 1.5rem;
    /*margin-top: 1rem;*/
    margin-left: 1rem;
    pointer-events: auto;
}
